*{
    margin: -0px;
    padding: -0px;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, #00b4db, #0083b0);
     display:flex;
     align-items: center;
    justify-content: center;
     height: 100vh;
}

.container{
    width: 300px;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    border-radius: 10px;
    text-align: center;
    border: none;
}
.month{
    background-color: red;
    height: 50px;
    font-size: 2rem;
    font-weight: bold;
   color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0 ;

}

.weekday{
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 1.3rem;
}
.day{
    font-size: 5rem;

    margin-bottom: 10px;
   font-weight: bold;

}
.year{
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 1.3rem;
}